# Create a Postgres database on Vercel: https://vercel.com/postgres
POSTGRES_PRISMA_URL=postgresql://toggljs:togglpassword@toggl-db:5432/toggl
POSTGRES_URL_NON_POOLING=postgresql://toggljs:togglpassword@toggl-db:5432/toggl_shadow

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
NEXTAUTH_SECRET=908fb58fcbb3b07decbbbdcd0bc674a6
